In [5]:
import pandas as pd

# Cargar CSV
df = pd.read_excel('animales_filtrados.xlsx')

# Normalizar columnas
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Ver las primeras filas
df.head(10)

,nombre_cientifico,nombre_comun,grupo,habitat,pais,categoria_amenaza,estado_conservacion,causa_amenaza,tipo_habitat
0,Myiopsitta monachus,Cotorra argentina,aves,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
1,Alburnus alburnus,Alburno,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
2,Amandava amandava,Bengalí rojo,aves,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
3,Ameiurus melas,Pez gato negro,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
4,Ammotragus lervia,Arrui,mamíferos,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
5,Australoheros facetus,Chanchito,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
6,Branta canadensis,Barnacla canadiense grande,aves,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
7,Threskiornis aethiopicus,Ibis sagrado,aves,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
8,Esox lucius,Lucio,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
9,Fundulus heteroclitus,Fúndulo,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN

In [6]:
# Lista de grupos que NO son animales
no_animales = ['planta','plantas vasculares','hongos','briofitos','flora','algas','cromistas y bacterias']

# Filtrar solo animales
df_animales = df[~df['grupo'].str.lower().isin(no_animales)]

# Quitar filas sin nombre científico
df_animales = df_animales.dropna(subset=['nombre_cientifico'])

# Ver las primeras filas filtradas
df_animales.head(10)

,nombre_cientifico,nombre_comun,grupo,habitat,pais,categoria_amenaza,estado_conservacion,causa_amenaza,tipo_habitat
0,Myiopsitta monachus,Cotorra argentina,aves,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
1,Alburnus alburnus,Alburno,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
2,Amandava amandava,Bengalí rojo,aves,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
3,Ameiurus melas,Pez gato negro,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
4,Ammotragus lervia,Arrui,mamíferos,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
5,Australoheros facetus,Chanchito,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
6,Branta canadensis,Barnacla canadiense grande,aves,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
7,Threskiornis aethiopicus,Ibis sagrado,aves,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
8,Esox lucius,Lucio,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
9,Fundulus heteroclitus,Fúndulo,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN

In [7]:
# Eliminar invertebrados
df_animales = df_animales[df_animales['grupo'].str.lower() != 'invertebrados']

# Ver resultado
df_animales['grupo'].value_counts()

grupo
plantas no vasculares    1196
peces                    1165
aves                      642
ascidios                  269
mamíferos                 158
reptiles                  107
no especificado            97
anfibios                   38
Name: count, dtype: int64

In [8]:
df_animales

,nombre_cientifico,nombre_comun,grupo,habitat,pais,categoria_amenaza,estado_conservacion,causa_amenaza,tipo_habitat
0,Myiopsitta monachus,Cotorra argentina,aves,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
1,Alburnus alburnus,Alburno,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
2,Amandava amandava,Bengalí rojo,aves,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
3,Ameiurus melas,Pez gato negro,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
4,Ammotragus lervia,Arrui,mamíferos,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3667,Thamnobryum rudolphianum,Desconocido,no especificado,No especificado,PT,EN,NaN,NaN,NaN
3668,Graphania granti,Owlet moth,no especificado,No especificado,PT,EN,NaN,NaN,NaN
3669,Fissidens nobreganus,Desconocido,no especificado,No especificado,PT,EN,NaN,NaN,NaN
3670,Mesiotelus maderianus,Desconocido,no especificado,No especificado,PT,EN,NaN,NaN,NaN
3671,Trechus picoensis,Cave ground-beetle,no especificado,No especificado,PT,EN,NaN,NaN,NaN

In [9]:
# Número total de filas
total_filas = len(df_animales)

# Número de nombres científicos únicos
total_unicos = df_animales['nombre_cientifico'].nunique()

print(f"Total de filas: {total_filas}")
print(f"Nombres científicos únicos: {total_unicos}")

# Si hay duplicados
if total_filas > total_unicos:
    print(f"Hay {total_filas - total_unicos} filas duplicadas por nombre científico.")
else:
    print("No hay duplicados en la columna 'nombre_cientifico'.")

Total de filas: 3672
Nombres científicos únicos: 3672
No hay duplicados en la columna 'nombre_cientifico'.

In [10]:
# Mantener solo la primera aparición de cada nombre científico
df_animales = df_animales.drop_duplicates(subset=['nombre_cientifico'], keep='first')

print(f"Filas después de eliminar duplicados: {len(df_animales)}")

Filas después de eliminar duplicados: 3672

In [11]:
print(df.columns.tolist())

['nombre_cientifico', 'nombre_comun', 'grupo', 'habitat', 'pais', 'categoria_amenaza', 'estado_conservacion', 'causa_amenaza', 'tipo_habitat']

In [13]:
df_animales

,nombre_cientifico,nombre_comun,grupo,habitat,pais,categoria_amenaza,estado_conservacion,causa_amenaza,tipo_habitat
0,Myiopsitta monachus,Cotorra argentina,aves,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
1,Alburnus alburnus,Alburno,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
2,Amandava amandava,Bengalí rojo,aves,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
3,Ameiurus melas,Pez gato negro,peces,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
4,Ammotragus lervia,Arrui,mamíferos,Terrestre (incl. fluvial),ES,No evaluado,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3667,Thamnobryum rudolphianum,Desconocido,no especificado,No especificado,PT,EN,NaN,NaN,NaN
3668,Graphania granti,Owlet moth,no especificado,No especificado,PT,EN,NaN,NaN,NaN
3669,Fissidens nobreganus,Desconocido,no especificado,No especificado,PT,EN,NaN,NaN,NaN
3670,Mesiotelus maderianus,Desconocido,no especificado,No especificado,PT,EN,NaN,NaN,NaN
3671,Trechus picoensis,Cave ground-beetle,no especificado,No especificado,PT,EN,NaN,NaN,NaN

In [15]:
# Lista de especies en peligro (nombres científicos)
especies_peligro = [
    # Mamíferos
    "lynx pardinus",
    "ursus arctos arctos",
    "mustela lutreola",
    "galemys pyrenaicus",
    "monachus monachus",
    "myotis capaccini",
    "ammotragus lervia",
    "ovis orientalis mussimon",
    
    # Aves
    "tetrao urogallus cantabricus",
    "aquila adalberti",
    "gypaetus barbatus",
    "ciconia nigra",
    "oxyura leucocephala",
    "neophron percnopterus",
    "chlamydotis undulata fuertaventurae",
    "anser brachyrhynchus",  # Cerceta pardilla (aproximación)
    
    # Reptiles y anfibios
    "vipera latasti",
    "alytes muletensis",
    "calotriton arnoldi",   # Tritón de Montseny (aproximación)
    "pelodytes punctatus",  # Sapillo balear (aproximación)
]

In [16]:
import pandas as pd

# Cargar tu dataset de 4000 especies
# df_animales = pd.read_csv("animales_filtrados.csv")  # o .xlsx
df_animales['nombre_cientifico'] = df_animales['nombre_cientifico'].str.strip().str.lower()

# Crear columna vacía si no existe
if 'estado_conservacion' not in df_animales.columns:
    df_animales['estado_conservacion'] = ""

In [17]:
df_animales['estado_conservacion'] = df_animales['nombre_cientifico'].apply(
    lambda x: "EN" if x in especies_peligro else ""
)

In [19]:
df_animales

,nombre_cientifico,nombre_comun,grupo,habitat,pais,categoria_amenaza,estado_conservacion,causa_amenaza,tipo_habitat
0,myiopsitta monachus,Cotorra argentina,aves,Terrestre (incl. fluvial),ES,No evaluado,,NaN,NaN
1,alburnus alburnus,Alburno,peces,Terrestre (incl. fluvial),ES,No evaluado,,NaN,NaN
2,amandava amandava,Bengalí rojo,aves,Terrestre (incl. fluvial),ES,No evaluado,,NaN,NaN
3,ameiurus melas,Pez gato negro,peces,Terrestre (incl. fluvial),ES,No evaluado,,NaN,NaN
4,ammotragus lervia,Arrui,mamíferos,Terrestre (incl. fluvial),ES,No evaluado,EN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3667,thamnobryum rudolphianum,Desconocido,no especificado,No especificado,PT,EN,,NaN,NaN
3668,graphania granti,Owlet moth,no especificado,No especificado,PT,EN,,NaN,NaN
3669,fissidens nobreganus,Desconocido,no especificado,No especificado,PT,EN,,NaN,NaN
3670,mesiotelus maderianus,Desconocido,no especificado,No especificado,PT,EN,,NaN,NaN
3671,trechus picoensis,Cave ground-beetle,no especificado,No especificado,PT,EN,,NaN,NaN

In [21]:
import pandas as pd

# Cargar tu dataset de 4000 especies
df_animales = pd.read_excel("animales_filtrados.xlsx")  # o .xlsx
df_animales['nombre_cientifico'] = df_animales['nombre_cientifico'].str.strip().str.lower()

# Lista de especies en peligro (nombres científicos)
especies_peligro = [
    "lynx pardinus",
    "ursus arctos arctos",
    "mustela lutreola",
    "galemys pyrenaicus",
    "monachus monachus",
    "myotis capaccini",
    "ammotragus lervia",
    "ovis orientalis mussimon",
    "tetrao urogallus cantabricus",
    "aquila adalberti",
    "gypaetus barbatus",
    "ciconia nigra",
    "oxyura leucocephala",
    "neophron percnopterus",
    "chlamydotis undulata fuertaventurae",
    "anser brachyrhynchus",
    "vipera latasti",
    "alytes muletensis",
    "calotriton arnoldi",
    "pelodytes punctatus"
]

# Normalizar nombres
especies_peligro = [x.strip().lower() for x in especies_peligro]

# Crear columna de estado de conservación
df_animales['estado_conservacion'] = df_animales['nombre_cientifico'].apply(
    lambda x: "Peligro de Extinción" if x in especies_peligro else ""
)

# Guardar el resultado
df_animales.to_excel("animales_con_estado.xlsx", index=False)

In [22]:
df_animales

,nombre_cientifico,nombre_comun,grupo,habitat,pais,categoria_amenaza,estado_conservacion,causa_amenaza,tipo_habitat
0,myiopsitta monachus,Cotorra argentina,aves,Terrestre (incl. fluvial),ES,No evaluado,,NaN,NaN
1,alburnus alburnus,Alburno,peces,Terrestre (incl. fluvial),ES,No evaluado,,NaN,NaN
2,amandava amandava,Bengalí rojo,aves,Terrestre (incl. fluvial),ES,No evaluado,,NaN,NaN
3,ameiurus melas,Pez gato negro,peces,Terrestre (incl. fluvial),ES,No evaluado,,NaN,NaN
4,ammotragus lervia,Arrui,mamíferos,Terrestre (incl. fluvial),ES,No evaluado,Peligro de Extinción,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3667,thamnobryum rudolphianum,Desconocido,no especificado,No especificado,PT,EN,,NaN,NaN
3668,graphania granti,Owlet moth,no especificado,No especificado,PT,EN,,NaN,NaN
3669,fissidens nobreganus,Desconocido,no especificado,No especificado,PT,EN,,NaN,NaN
3670,mesiotelus maderianus,Desconocido,no especificado,No especificado,PT,EN,,NaN,NaN
3671,trechus picoensis,Cave ground-beetle,no especificado,No especificado,PT,EN,,NaN,NaN